*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid salmon
}
.flex-container{
    display: flex;
    justify-content: center;
  
}

nav ul li{
    display: inline;
    list-style: none;
}
header{
    background-color:#3131e8;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

.bianco{
    background-color: #fff;
}
.grigio{
    background-color: #f4f4f4;
}