*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline;
    list-style: none;
}
header{
    background-color:#3131e8;
    display: flex;
}
.div{
    background-color:#3131e8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.section{
    display: flex;
    justify-content: space-evenly;
}
#main{
    display: flex;
    flex-direction: column;
}

.white{
    background-color: #fff;
}
.grey{
    background-color: #f4f4f4;
}

.ultimo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer ul li{
    list-style: none;

}
.lista{
    display: inline;
    display: flex;
    flex-direction: row;
}